@model IEnumerable<AllProductsServiceModel>
@{
    ViewData["Title"] = "Shop";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@product.Id">@product.Title</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <img src="https://picsum.photos/700/500/?random&giud=@(Guid.NewGuid())" class="img-responsive">
                </div>
            </div>
        </div>
    }
</div>

