<h3><strong>Our concept</strong></h3>

The companies on our webpage are <strong>carefully</strong> <strong>selected</strong> after a lot of <strong>hard work </strong>and <strong>research</strong>.
<br />
All brands you we find on the page put all their efforts, time and resources to create the <strong>best products</strong> for us. Each brand maintains a small portfolio of products to be able to <strong>test</strong> and <strong>improve consistently</strong>. What this means for us is <strong>quality products</strong> according to the <strong>latest standards</strong>.

Even more, all brands make sure they release a new version of the product when new features are tested long enough and deserves to be announced as an improvement. This keeps the value of our products and guarantees us that we will get a new version of each product with <strong>real improvements</strong>.

<h3><strong><a href="https://shredmates.com/about-us/partners/">Our partners:</a></strong></h3>
<strong><a href="https://bwsurf.eu/store/kites/aeneema">BWSurf</a> </strong>is <strong>the only company in the world</strong> that creates <strong>wave kitesurf</strong> gear… <a asp-controller="Brands" asp-action="Index"><strong>read more</strong></a>
<br />
<br />
<strong><a href="http://www.ginkites.com/company/company/philosophy">GIN Kites</a> </strong>is the <strong>Swiss quality</strong> with one of the best <strong>high-performance kites</strong> on the market… <a asp-controller="Brands" asp-action="Index"><strong>read more</strong></a>
<br />
<br />
<strong><a href="http://rideclash.com/">RideClash</a> </strong>is well-known brand located in <strong>Tarifa</strong>, which has designed one of the <strong>best kitesurf twintip board</strong> on the market… <a asp-controller="Brands" asp-action="Index"><strong>read more</strong></a>
<br />
<br />
<span style="color: #0000ff;"><strong><a href="http://www.goodboards.eu/CMS/home/home,1,0,1.html">Goodboards&amp;Goodschi</a> </strong></span>is a <strong>EU</strong> <strong>company</strong> with <strong>high-quality handmade equipment</strong> for <strong>snowboard</strong>, <strong>splitboards,</strong> <strong>ski</strong>, <strong>wakeboard</strong> and <strong>kitesurf</strong>... <a asp-controller="Brands" asp-action="Index"><strong>read more</strong></a>
<br />
<br />
<strong><a href="http://www.pathron.com/">Pathron Snowboards</a></strong> is a <strong>EU company</strong> with <strong>self-produced snowboards</strong> with <strong>best</strong> <strong>quality</strong>, great variety of <strong>snowboards</strong> and <strong>splitboards</strong> with <strong>carbon</strong>, <strong>woodcore</strong> and many other features... <a asp-controller="Brands" asp-action="Index"><strong>read more</strong></a>
<br />
<br />
<h3><strong>Shredmates – shred with friends!</strong></h3>


