
@{
    ViewData["Title"] = "Contact us";
}

<h2>@ViewData["Title"]</h2>

<h3>Shredmates Store</h3>
<ul>
    <li>Business Park</li>
    <li>1766 Sofia, Bulgaria</li>
    <li>Phone: +359887714437</li>
    <li>Email: shredmates@outlook.com</li>
</ul>
<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5871.232606912768!2d23.37926097597131!3d42.627092893633495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbg!4v1458598219338" width="980" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>

