@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Businnes Park Sofia<br />
    Mladost 4<br />
    <abbr title="Phone">Phone:</abbr>
    0887714437
</address>

<address>
    <strong>Support:</strong> <a href="mailto:shredmates@gmail.com">shredmates@gmail.com</a><br />
</address>
