@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="https://www.google.es/imgres?imgurl=https%3A%2F%2Fshredmates.com%2Fwp-content%2Fuploads%2F2017%2F08%2FP9188289-1000x333.jpg&imgrefurl=https%3A%2F%2Fshredmates.com%2F&docid=oJYPyxie2OpuKM&tbnid=z34MIp3Yabs2PM%3A&vet=10ahUKEwj244Xr1fzXAhVR-qQKHUBcAj8QMwhQKBIwEg..i&w=1000&h=333&bih=787&biw=856&q=shredmates&ved=0ahUKEwj244Xr1fzXAhVR-qQKHUBcAj8QMwhQKBIwEg&iact=mrc&uact=8" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    ShredMates Shop Winter Session
                    <a class="btn btn-default" href="">
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <form asp-action="Search">
        <div class="col-md-4 pull-right">
            <input class="form-control" placeholder="Search..." />
        </div>
    </form>
</div>

<div class="row home-page">
    @await Html.PartialAsync("_ShopPartial", Model.Products);
</div>