@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form asp-action="Search">
        <div class="col-md-4 pull-right">
            <input class="form-control" placeholder="Search..." />
        </div>
    </form>
</div>

@await Html.PartialAsync("Carousel")

<div class="row home-page">
    @foreach (var product in Model.Products)
    {
        @await Html.PartialAsync("AllProducts", product)
    }
</div>