@model SearchViewModel
@{
    ViewData["Title"] = $"Search Result for: {Model.Search}";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <form asp-action="Search">
        <div class="col-md-4 pull-right">
            <input asp-for="Search" class="form-control" placeholder="Search..." />
        </div>
    </form>
</div>

<br />

@if (Model.Products.Any())
{
    <div class="row home-page">
        @await Html.PartialAsync("SearchResults", Model.Products);
    </div>
}
else
{
    <h3>Sorry, no products found...</h3>
    <div class="go-back">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-info btn-sm">Go back</a>
    </div>
}

