@{
    var previousDisabled = Model.Current == 1 ? "disabled" : String.Empty;
    var nextDisabled = Model.Next == Model.TotalPages ? "disabled" : String.Empty;
}

<div class="row text-center">
    <ul class="pagination">
        <li class="page-item @previousDisabled">
            <a class="page-link" href="/?page=@Model.Previous">Previous</a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(Model.Current == i ? "active" : String.Empty)">
                <a class="page-link" href="/?page=@i">@i</a>
            </li>
        }
        <li class="page-item @nextDisabled">
            <a class="page-link" href="/?page=@Model.Next">Next</a>
        </li>
    </ul>
</div>
