<div class="row">
    <form asp-action="Search">
        <div class="pull-right">
            <button type="submit" class="btn btn-sm btn-info glyphicon glyphicon-search"></button>
        </div>
        <div class="col-md-4 pull-right">
            <input class="form-control" placeholder="Search..." />
        </div>
    </form>
</div>

