<h3><strong><a href="http://www.goodboards.eu/">Goodboards</a></strong></h3>

The German company with more than <strong>25 years experience</strong> creates <strong>handmade</strong> limited series of products each year. The materials are <strong>made in Germany</strong> because quality is that matters. Nowadays it is very rare to find a <strong>high-quality</strong> <strong>handmade</strong> product which will <strong>last for many years</strong>. <strong>Goodboards&amp;Goodschi</strong> is the company which gives <strong>quality</strong> and <strong>uniqueness </strong>a <strong>true meaning</strong>.

<h3><strong><a href="http://www.pathron.com/">Pathron Snowboards</a></strong></h3>

<strong>Pathron</strong> made in Europe main goal is to create high-end snowboards using all advanced technologies. They create <strong>ultralight</strong>,  <strong>high-performance</strong> <strong>snowboards </strong>at <strong>best</strong> possible <strong>prices</strong>. The Pathron <strong>premium wood cores</strong>, despite being <strong>extremely light</strong>, sacrifice nothing in <strong>strength</strong> or <strong>durability</strong>.

<h3><strong><a href="https://www.ginkites.com/">Gin Kites</a></strong></h3>

<strong>GIN kites</strong> is a branch within the structure of the <strong>famous paragliding</strong> brand: <strong>GIN Gliders</strong> (<a class="link" title="GIN Gliders website" href="http://www.gingliders.com/">www.gingliders.com</a>). Due to the perfect conditions for kitesurfing in the Swiss lakes and <strong>snow-kiting</strong> in the Swiss Alps, <strong>GIN kites</strong> could quickly expand to a well-known kite company with <strong>Swiss quality</strong>. The <strong>GINs Research &amp; Development Team</strong> handle their product line with a lot of care. The team rides throughout the whole year to <strong>improve</strong> <strong>consistently </strong>and bringing up <strong>innovation</strong> within their portfolio. <strong>GIN kites</strong> offers you <strong>best quality</strong>, <strong>ultra-light and durable kites</strong>, <strong>designed</strong> for <strong>beginners </strong>as well as for <strong>advanced</strong> and <strong>pro</strong> <strong>riders</strong>.

<h3><strong><a href="https://bwsurf.eu/store/kites/aeneema">BWSurf</a></strong></h3>

<strong>The only company</strong> in the kitesurfing industry  that <strong>design and manufactures kitesurfing gear for waves</strong> only. The legend <strong>Ben Wilson</strong> is the owner and lead of the <strong>R&amp;D team</strong> (Research and development) of BWSurf. Each kite is made of the most <strong>resistant</strong> and <strong>lightweight materials</strong> in the market and has <strong>excellent drift ability</strong> to ride waves. The <strong>surfboards</strong> have <strong>unique shape</strong> that allows you to <strong>combine surf and kitesurf with one board</strong>. The newest <strong>Aeneema</strong> kite has been <strong>designed for our wave conditions in Europe</strong>. If you want to <strong>ride wave</strong>, no doubt <strong>BWsurf</strong> is the best choice.

<h3><strong><a href="http://rideclash.com/">RideClash</a></strong></h3>

The Spanish company produces only one product. Putting all their efforts and time results in a kite board which will serve you in all conditions - difficult terrain, choppy waters but also it is perfectly suitable for tricks on flat water. Made out of high-quality materials that deliver the perfect balance between lightweight and durability.

<h3><strong><a href="http://magicable.eu/">Magicable</a></strong></h3>
The people behind the <strong>Magicable</strong> project are working hard to create the first eco-friendly FullSize Wakepark in Bulgaria. The entire area where the cable park is located is a magical place with breathtaking landscape and is definitely worth a visit.

<h3><strong>Shredmates – shred with friends!</strong></h3>

